{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center; color: green">{{  title  }}</h1>
<p>Мы - компания, специализирующаяся на продаже свежих овощей. Наша миссия - обеспечить наших клиентов самыми вкусными и полезными овощами, выращенными с любовью и уважением к природе. Мы тщательно отбираем наших поставщиков и стремимся поддерживать устойчивые практики ведения бизнеса. Качество, свежесть и устойчивость - вот наши основные принципы. Выбирайте нас для здорового и вкусного питания!</p>
{% endblock %}